body {
  background: #888;
}

a {
  color: white;
  display: block;
  font-family: 'Open Sans', helvetica, sans-serif;
  margin: 1.618em auto 0;
  max-width: 415px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* ProfileCard component styles */

.ProfileCard {
  background: white;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-top: 2em;
  max-width: 415px;
  padding: 2em;
}

@media (max-width: 414px) {
  .ProfileCard {
    bottom: 0;
    left: 0;
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.ProfileCard__img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 33.33%;
}

.ProfileCard__nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ProfileCard__nav .ProfileCard__name,
.ProfileCard__nav .ProfileCard__link {
  font-size: 1.618rem;
  line-height: 1.618rem;
  margin: 1.618rem 0 0 0;
}

.ProfileCard .fa {
  color: black;
  font-size: 1.618rem;
  margin-bottom: 1.618rem;
  margin-right: 1.618rem;
  text-decoration: none;
  transition: .3s;
  width: 25px;
}

.ProfileCard .fa:hover {
  transform: translateY(-3px);
}

.ProfileCard__bio {
  margin-top: 0;
}
